label {
	display: block;
	margin-bottom: 1ex;
	line-height: 2;
}

input, textarea, label {
	width: 800px;
	max-width: 100%;
}

input.zqxjk-ts-date, input.zqxjk-ts-time {
	width: 10em;
}

textarea {
	height: 90%;
}
