<html th:replace="~{layout :: layout(~{::title}, ~{::form})}">
	<head>
		<title>[[${table.name}]] - [[${row.display}]]</title>
	</head>
	<body>
		<form method="POST" action="/update">
			<label th:each="field : ${table.fields}">
				[[${field.key}]]
				<input type="text" th:name="@{data/0/{field}/value(field=${field.key})}" th:value="${row.fields[field.key]}"/>
			</label>
			<input type="submit"/>
			<input type="hidden" name="data/0/_table" th:value="${table.name}"/>
			<input type="hidden" name="data/0/_action" th:value="${action}"/>
			<input type="hidden" name="data/0/_id" th:value="${row?.id}"/>
			<input type="hidden" name="next" th:value="@{/table/{table}/(table=${table.name})}"/>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
		</form>
	</body>
</html>
