<html th:replace="~{layout :: layout(~{::title}, ~{::section})}">
	<head>
		<title th:text="${table.name}">Table</title>
	</head>
	<body>
		<section>
			<p><a href="/">Index</a> - <span th:text="${table.name}">Table</span></p>
			<a th:href="@{/table/{table}/new/(table=${table.name})}">New</a>
			<table>
				<tr th:each="row : ${rows}">
					<td><a th:href="@{/table/{table}/row/{id}(table=${table.name}, id=${row.id})}" th:text="${row.display}">Display</a></td>
				</tr>
			</table>
			<a th:href="@{/table/{table}/new/(table=${table.name})}">New</a>
		</section>
	</body>
</html>
