on:
  push:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 21
    - run: mvn -B test
    - run: mvn -B validate
    - run: mvn -B spotbugs:check
    - run: mvn -B spotless:check
    - run: mkdir -p ${XDG_RUNTIME_DIR}/containers/
    - env:
        QUAY_IO_DOCKER_CONFIG: ${{ secrets.QUAY_IO_DOCKER_CONFIG }}
      run: echo "${QUAY_IO_DOCKER_CONFIG}" >${XDG_RUNTIME_DIR}/containers/auth.json
    - run: python3 -c "import build ; build.build_images_and_push()"
